<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="{{ $.Site.BaseURL }}img/iMed-logo03.png">
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="icon ion-drag"></i>&nbsp;&nbsp;MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}about">ABOUT</a></li>
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}who-we-are">WHO WE ARE</a></li>
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}white-paper">WHITE PAPER</a></li>
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}horizon-scan">HORIZON SCAN REPORT</a></li>
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}faq">FAQ</a></li></a></li>

        <li class="nav-link"><a href="{{ $.Site.BaseURL }}blog">BLOG</a></li>
        <li id="js-navigation-more" class="nav-link more"><a href="{{ $.Site.BaseURL }}research">RESEARCH</a>
          <ul class="submenu">
            <li><a href="{{ $.Site.BaseURL }}research/funding-mechanisms">Funding Mechanisms</a></li>
            <li><a href="{{ $.Site.BaseURL }}proposals-database">Proposals Database</a></li>
            <li><a href="{{ $.Site.BaseURL }}research/glossary">Glossary</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="{{ $.Site.BaseURL }}contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
