{{ partial "head.html" . }}

<body class="home-template">

  {{ partial "navbar.html" . }}

  <div class="hero" style="background-image: url({{ $.Site.BaseURL }}img/imed-background.svg); background-size: contain;">
    <div class="hero-content">
      <img src="{{ $.Site.BaseURL }}img/iMed-logo03.png">

      {{ .Content }}

      <br />
      <p>Download our slides and white paper</p>
      <a href="{{ $.Site.BaseURL }}data/iMed-slide-2018.pdf" class="button" target="_blank">Slides <i class="fa fa-arrow-circle-o-down"></i></a>
      <a href="{{ $.Site.BaseURL }}data/imed-white-paper.pdf" class="button" target="_blank">White Paper <i class="fa fa-arrow-circle-o-down"></i></a>
      <div class="call-to-action">
        <p class="arrow-down"><a href="#next-section"><i class="ion-chevron-down"></i></a></p>
      </div>

    </div>
  </div>
  <section class="slides" id="next-section">

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.004.png">
        </div>

        <div class="white">
        <img src="{{ $.Site.BaseURL }}img/imed-front-png.005.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.006.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.007.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.008.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.009.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.010.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.011.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.012.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.013.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.014.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.015.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.016.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.017.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.018.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.019.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.020.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.021.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.022.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.023.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.024.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.025.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.026.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.027.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.028.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.029.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.030.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.031.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.032.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.033.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.034.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.035.png">
        </div>

        <div class="grey">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.036.png">
        </div>

        <div class="white">
          <img src="{{ $.Site.BaseURL }}img/imed-front-png.037.png">
        </div>

  </section>
  {{ partial "footer.html" . }}

  {{ partial "script.html" . }}
</body>
</html>
